name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  release:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4

        - uses: pnpm/action-setup@v4
          name: Install pnpm
          id: pnpm-install
          with:
            version: 9

        - uses: actions/setup-node@v4
          with:
            node-version: "24.x"
            cache: pnpm
            cache-dependency-path: 'package.json'
            registry-url: https://registry.npmjs.org
            scope: '@toyokumo'

        - run: npm publish

        - uses: actions/setup-node@v4
          with:
            node-version: "24.x"
            cache: pnpm
            cache-dependency-path: 'package.json'
            registry-url: https://npm.pkg.github.com

        - run: pnpm publish --registry=https://npm.pkg.github.com
          env:
            NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
